<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recurso no encontrado</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head>
  <body>
    <div class="main-content">
      <div class="center margin-tp-2">
        <img src="/img/favicon.png" alt="logo" class="width-md-2" />
        <h1 class="big-title">Not found</h1>
      </div>
    </div>
  </body>
</html>
