<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/favicon.png" />
</head>

  <body>
    <div class="main-content">
      {{>header}}
      {{>nav}}
      <article class="box">
        <div class="inline">
          <div class="column">
            <img src="/img/alx1.jpg" alt="profile" class="round-square">
          </div>
          <p>
            Vivimos en un mundo muy raro, muy extraño constantemente está cambiando, cosas van, cosas vienen. Los seres humanos parecemos ser muy diferentes,
            algunos ricos, otros pobres, católicos, cristianos, blancos, de color, sin embargo observando el día a día de todos, compartimos algo en común,
            todos tenemos algo en común, y eso es, que en nuestro día a día siempre hay un motivo para hacer las cosas, siempre hay algo o alguien por el que
            hacemos las cosas, en mi caso, ese alguien es Alejandra, déjenme presentarla.
          </p>
        </div>
      </article>
    </div>
  </body>
</html>
