<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/favicon.png" />
</head>

  <body>
    <div class="main-content">
      {{>header}}
      {{>nav}}
      <article class="box">
        <div class="inline">
          <div class="column">
            <img src="/img/alx1.jpg" alt="profile" class="round-square">
          </div>
          <p>
            Vivimos en un mundo muy raro, muy extraño constantemente está cambiando, cosas van, cosas vienen. Los seres humanos parecemos ser muy diferentes,
            algunos ricos, otros pobres, católicos, cristianos, blancos, de color, sin embargo observando el día a día de todos, compartimos algo en común,
            todos tenemos algo en común, y eso es, que en nuestro día a día siempre hay un motivo para hacer las cosas, siempre hay algo o alguien por el que
            hacemos las cosas, en mi caso, ese alguien es Alejandra, déjenme presentarla.
          </p>
        </div>
      </article>
      <article class="box-2">
        <p>
          Nos conocimos en un concurso de Innovación Tecnológica, éste se pedía que fuera multidisciplinario o algo así, la idea era que participáramos
          compañeros de por lo menos 3 carreras diferentes formando un equipo de 5 personas. Obviamente entre esos 5 íbamos ella y yo, no sabría explicar
          lo que sentí al primer contacto, sólo puedo decir que fue emoción y nerviosismo, pues cuando la vi me gustó, así es señores, me gustó. No puedo
          describir cómo fueron los días después de habernos conocido, pero les puedo decir que no fui muy amable con ella, al contrario, era indiferente
          aunque la verdad, mucho de esa actitud que le demostré fueron sólo bromas pesadas.
        </p>
        <p>
          Créanme que me hubiera gustado intentar algo desde aquel entonces, sin embargo por la mala información o desinformación por parte mía, no se
          pudo dar nada, sólo se quedó en un recuerdo, y en una ilusión. Después del concurso y de que finalizara ese semestre en la universidad ya no
          tuve mucho contacto con ella, por no decir que definitivamente ya no lo tuve. No les niego que después de esto en su momento tuve ligues o
          incluso novias, que estoy seguro que ella por su lado también, sin embargo, sin mentirles ni nada, de vez en cuando me acordaba de ella, veía
          sus estados en Whatsapp, o veía su foto de perfil, aunque no la pude encontrar, les quedo mal, recuerdo muy bien que era ella, estaba en un
          baño, traía una blusa azul, frente al espejo se había tomado una foto sosteniendo su teléfono.
        </p>
        <p>
          Sí, lo sé, son de esas ilusiones que te duran mucho tiempo, no sé si les ha pasado. Nunca se lo conté a nadie, pues no pensé que fuera a pasar
          algo, así que sólo me lo guardé. Tuve la oportunidad de tratarla más adelante, e incluso tuve una oportunidad más clara de poder intentar algo,
          pero de nuevo, la información me quitó las ilusiones, no me quiero alargar más con esto, sólo es para ponerlos en contexto, ya que el objetivo
          de esta lectura es agradecerle a esta persona lo mucho que me ha dado.
        </p>
      </article>
      <article class="box">
        <p>
          ¿Cómo se dio entonces esto si al parecer por lo que les cuento pintaba para que no pasara nada?...pues el destino, vida, o como lo quieran llamar está
          llena de sorpresas, sorpresas que dan gusto y felicidad. Recuerdo que decido aventurarme a venir a Ciudad de México, buscando el sueño de volverme,
          con el tiempo, un buen Desarrollador de Software. Recuerdo que cuando llegué acá fue todo muy duro, supongo que los que se han tenido que mudar sabrán
          entender, y eso que teniendo la compañía de mi hermano, aún me sentía raro. Bien recuerdo que fue un viernes y llovía, tomé un video de la lluvia y lo
          mantuve en mi teléfono celular, hasta que fui a cenar, curiosamente a un restaurante de comida italiana, ella ama esa comida por cierto, ven lo que
          les digo, el destino. En fin, tomé el video y se lo mandé, no esperé una respuesta tan pronta por parte de ella, pero así pasó y bueno, ahora estamos
          con 7 mesesotes en esta trayectoria entre ella y yo, y voy al objetivo, no me desvío más.
        </p>
      </article>
      <article class="box-2">
        <img src="/img/alx2.jpg" alt="profile" class="round-square-md">
        <p>
          Como ya les dije, llevamos 7 meses, me ha regalado 7 meses de su tiempo, y eso es algo que agradezco muchísimo, pues el tiempo es el recurso no renovable
          de la vida, y ella se ha tomado gran parte del suyo para gastarlo en mí, para ponerme atención, para salir conmigo, para mandarme mensajes. Me ha apoyado
          como no tienen idea, y no alcanzaría el tiempo para escribir en todo lo que ha estado conmigo.
        </p>
      </article>
      <article class="box">
        <p>
          Por eso a ti quiero darte las gracias, porque desde que estoy contigo, ambiciono más, hago cosas que antes ni siquiera me hubiera imaginado que podría,
          porque me has aportado mucho a mi desarrollo como persona y como profesional, me has educado en temas que me han costado trabajo, me complementas bien,
          y sé que yo a ti, no puedo decir que somos la pareja perfecta, porque no la hay, nos enojamos, como todos los demás, pero hemos demostrado que tenemos mucho
          amor el uno por el otro y es por eso que seguimos aquí pase lo que pase.
        </p>
        <img src="/img/alx3.jpg" alt="profile" class="round-square-md">
      </article>
      <article class="box-2">
        <p>
          Así es que hoy, en tu día, quiero desearte un feliz cumpleaños <i class="fa fa-birthday-cake"></i>, y aunque es tu cumpleaños, también es mío, pues soy parte de ti como tú de mí, quiero
          que disfrutes aunque sea desde casa (así es, al momento de escribir esto, enfrentamos la pandemia COVID-19), y aunque esté lejitos de ti, no significa
          que no podamos pasarla bien. Quiero que sepas que te amo y que significas mucho en mi vida y en mi tiempo, en mi día a día. Por favor, sigue cumpliendo
          más, que te necesito más añitos a mi ladito, para que continuemos haciendo locuras y cada vez conociéndonos más.
        </p>
        <img src="/img/alx4.jpg" alt="profile" class="round-square-md">
        <h1 class="birthdate-title">feliz cumpleaños amor</h1>
      </article>
      <article class="box">
        <p>
          Como dije al comienzo de esta redacción, todos hacemos las cosas por alguien o algo, con un objetivo o fin. Pues yo lo hago por ella, es una de mis personitas
          más favoritas que me da el combustible para seguir creciendo y evolucionando. Así es, el truco está en pelear y hacer las cosas por nuestros seres queridos,
          en pensar en el beneficio que les traeremos, y el disfrutar de ese beneficio con ellos, ahí está el secreto de lograr mucho...y para ti...¿quién es tu fuente de energía?.
          Alexha, mi fuente de energía <i class="fa fa-battery-full"></i> número 1 en mi día a día, ¡así es!, ¡sépanlo!.
        </p>
        <p>
          Y no, no es lo que están pensando, no hice esto por obligación, yo tengo todo el año para darle mi amor a ella. Lo cierto es que esta idea ya la tenía
          en mente, y qué mejor momento que hacerle algo especial para su día, hoy todos pónganle atención a mi novia <i class="fa fa-heart"></i>, ella es la reina <i class="fa fa-child"></i>. ¡Ah!...y sí....¡mandilón
          y qué!.
        </p>
      </article>
    </div>

    {{>footer}}

  </body>
</html>
