<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Yautja Portfolio</title>
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/yautja.png" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{>nav}}
      <article class="box">
        <h3><i class="fas fa-allergies"></i> Welcome to my portfolio</h3>
        <p>
          My name is Carlos Herrera and I am a backend developer with 3
          years of experience and more than 5 years practicing in different companies.
        </p>
        <p>
          Actually I'm encountered in Acapulco developing for Rappi in the backend team.
        </p>
      </article>
      <article class="box-2">
        <h3><i class="fas fa-address-card"></i> Contact</h3>
        <p>Any question about my experience or work don't hesitate in contact me.</p>
        <ul>
          <li><i class="fas fa-envelope"></i> carlos.cervantes.cp@gmail.com</li>
        </ul>
        <p>I also invite you to visit my Github repositories so you can review my programming practices.</p>
        <ul>
          <li><i class="fab fa-github"></i> <a href="https://github.com/carlos-herrera-cervantes" target="_blank">Github</a></li>
        </ul>
      </article>
    </div>
    {{>footer}}
  </body>
</html>
