<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/yautja.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>nav}}
        <article class="box">
          <div class="inline">
            <div class="column">
              <img src="/img/profile.jpg" alt="profile" class="round">
            </div>
            <p>
              Hello everyone! My full name is Juan Carlos Herrera Cervantes. I am a Computer Systems Engineer with a specialty
              in Information Technology. I am a graduate of Tecnológico Nacional de México. I am dedicated to
              the development of software on the server side (backend). I am currently working for Rappi. Then I share with you
              the places where I have worked.
            </p>
          </div>
        </article>
        <article class="box-2">
          <h4>Elmex Superior (August 2013 - June 2017)</h4>
          <p>
            I joined the regional credit and collection offices as a systems practitioner. My tasks were to develop small desktop
            applications running on Microsoft Windows to automate site installations performed by service engineers at Elektra
            and Banco Azteca branches. Such as configuring a thermal printer, running bats, performing print tests, etc.
          </p>
          <p>
            After 1 year of internships, I joined as a systems assistant. And my main task was to support the development of
            the web interfaces to release a new major version of the SANA system that the service engineers managed. The purpose
            of this system was to manage the computer equipment that was used in the branches. The web interfaces were developed
            using Microsoft technologies. C# as the programming language and Web API as the project template for the services and
            deployed in an IIS.
          </p>
          <p>
            After being released I was giving maintenance to said project as bug fixes and continuous improvements.
          </p>
        </article>
        <article class="box">
          <h4>Juflo Tecnología Informática (July 2018 - October 2018)</h4>
          <p>
            Here I entered to participate in a business that at that time was starting. They were dedicated to the installation
            of security cameras for restaurants, subdivisions, hotels and homes.
          </p>
          <p>
            I was in charge of developing the web interfaces both for the administrator that was used by the business owners as
            well as for the mobile application.
          </p>
          <p>
            We were a team of 3 developers for the backend part. Each change made needed to be approved by the 3 as a code review.
            Also was implemented the use of CI/CD to do backend releases using tools like github actions and ngrok. The latter
            because the solution was deployed on premises.
          </p>
        </article>
        <article class="box-2">
          <h4>Consultoría Turística de Guerrero (October 2018 - December 2018)</h4>
          <p>
            Almost at the same time I was able to participate in another project for a consultancy, where the objective was to
            develop a platform to manage business plans.
          </p>
          <p>
            Here I also had one more participation in architecture issues. Proposing message queues to decouple communication
            between components and leave free the information that must be highly available to the end user.
          </p>
        </article>
        <article class="box">
          <h4>Hospital Veterinario de Especialidades de Guerrero (November 2018 - March 2019)</h4>
          <p>
            The last project I participated in Acapulco was for a veterinary business. At the time, the owners carried out
            the management in excel programs and with a lot of paperwork.
          </p>
          <p>
            Work was done on a digital solution with two components. One that was installed in the veterinary clinics for local
            use and another that was in the cloud (AWS).
          </p>
          <p>
            The idea of having a component in the cloud was to use it to have a more general view of all the vets.
          </p>
        </article>
        <article class="box-2">
          <h4>Econocom Gigigo (June 2019 - November 2021)</h4>
          <p>
            This was my first job in a big city. When I decide to venture into more complicated challenges. I came to
            this place to do voice app development for Google Assistant and Amazon Alexha.
          </p>
          <p>
            I developed and maintained applications for clients such as Aleatica, Cartoon Network, Televisa Radio,
            Banorte, Leader Entertainment.
          </p>
          <p>
            Once I do well on that team they take me to the backend. There I was able to support client projects such as
            Gulf, Movistar, Televia, Aleatica.
          </p>
        </article>
        <article class="box">
          <h4>Upax (December 2021 - April 2022)</h4>
          <p>
            After a little over two and a half years, I have the opportunity to join Upax to start developing a totally
            Mexican delivery project.
          </p>
          <p>
            I was assigned to the fulfillment team. There I was in charge of developing the web interfaces for visualizing
            orders, drivers, preparing the payments that would be made to said drivers.
          </p>
          <p>
            That is, the entire operational part.
          </p>
        </article>
        <article class="box-2">
          <p>In order not to make this longer, I leave a list of the technologies that I have used and with which I feel
            comfortable working.
          </p>
          <ul>
            <li><i class="fas fa-hand-point-right"></i> ASP.NET Core</li>
            <li><i class="fas fa-hand-point-right"></i> SQL Server</li>
            <li><i class="fas fa-hand-point-right"></i> MySQL</li>
            <li><i class="fas fa-hand-point-right"></i> Postgres</li>
            <li><i class="fas fa-hand-point-right"></i> NodeJS</li>
            <li><i class="fas fa-hand-point-right"></i> Typescript</li>
            <li><i class="fas fa-hand-point-right"></i> Go</li>
            <li><i class="fas fa-hand-point-right"></i> Python</li>
            <li><i class="fas fa-hand-point-right"></i> F# (no idiomatic way)</li>
            <li><i class="fas fa-hand-point-right"></i> NestJS</li>
            <li><i class="fas fa-hand-point-right"></i> Loopback</li>
            <li><i class="fas fa-hand-point-right"></i> Ts.ED</li>
            <li><i class="fas fa-hand-point-right"></i> MongoDB</li>
            <li><i class="fas fa-hand-point-right"></i> Redis</li>
            <li><i class="fas fa-hand-point-right"></i> Git</li>
            <li><i class="fas fa-hand-point-right"></i> PM2</li>
            <li><i class="fas fa-hand-point-right"></i> Dialogflow</li>
            <li><i class="fas fa-hand-point-right"></i> Actions Builder</li>
            <li><i class="fas fa-hand-point-right"></i> Amazon Alexa</li>
            <li>
              <i class="fas fa-hand-point-right"></i> AWS</li>
              <ul>
                <li>Lambda</li>
                <li>API Gateway</li>
                <li>Cloud Formation</li>
                <li>DynamoDB</li>
                <li>EC2</li>
                <li>S3</li>
                <li>Event Bridge</li>
                <li>Cloud Watch</li>
                <li>SQS</li>
                <li>Cognito</li>
              </ul>
            </li>
            <li>
              <i class="fas fa-hand-point-right"></i> Azure</li>
              <ul>
                <li>Azure Functions</li>
                <li>CosmosDB</li>
                <li>Blob Storage</li>
              </ul>
            </li>
            <li>
              <i class="fas fa-hand-point-right"></i> Google Cloud</li>
              <ul>
                <li>Cloud Functions</li>
                <li>Datastore</li>
                <li>Logging</li>
                <li>Firebase</li>
              </ul>
            </li>
          </ul>
          <p>Do not hesitate to contact me for any questions you have. You can see my data on the home page. Greetings!</p>
        </article>
    </div>
    {{>footer}}
</body>

</html>
