<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/favicon.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>nav}}
        <article class="box">
          <div class="inline">
            <div class="column">
              <img src="/img/profile.jpg" alt="profile" class="round">
            </div>
            <p>¡Hola a todos!, mi nombre completo es Juan Carlos Herrera Cervantes. Soy Ingeniero en Sistemas Computacionales
                con especialidad en Tecnologías de la Información. Soy egresado y titulado del Tecnológico Nacional de México
                campus Acapulco. Me dedico al desarrollo de software de lado del servidor (backend). Actualmente estoy trabajando
                para Gigigo apoyando en proyectos de clientes como Gulf, Cartoon Netwrok, Televisa, Aleatica, etc.
            </p>
          </div>
        </article>
        <article class="box-2">
          <p>Te platico un poco de mi experiencia. Casi por finalizar mi carrera (semestre 10) tocaba hacer residencias profesionales, anteriormente
            cuando estudié mi bachillerato tuve la fortuna de conocer a un ingeniero de servicio que laboraba para Grupo Salinas así que me decidí a
            realizarlas ahí por invitación de esta persona. Con esto obtuve mi primera experiencia laboral, comencé auxiliando en actividades de soporte,
            me refiero a instalación de equipo de cómputo, atención de incidencias que tenían que ver con el sistema ADN que se manejaba en las sucursales
            de Elektra y Banco Azteca. Transcurrido un año de haber estado ahí pude darme cuenta de algunas deficiencias en herramientas para tareas que los
            ingenieros realizaban en su día a día. Así fue como empecé a poner mi granito de arena desarrollando aplicaciones de escritorio y web para tratar
            de que agilizaran más sus tiempos de trabajo.
          </p>
          <p>
            Entre las tecnologías que pude trabajar ahí fueron todas de Microsoft. Las aplicaciones de escritorio las desarrollaba con WPF y Winforms empleando
            el patrón Smart User Interface que básicamente era agregar toda la lógica de programación sobre botones que desencadenaban eventos. Las aplicaciones
            web las construía con ASP.NET, dependiendo de la complejidad usaba Web Forms o MVC. Como era muy joven no tenía experiencia con patrones de diseño ni
            buenas prácticas de programación. Sin embargo pude llevarme una buena experiencia de trabajo.
          </p>
        </article>
        <article class="box">
          <p>
            Una vez terminada mi experiencia en Grupo Salinas decido adentrarme a conocer tecnologías diferentes a las ya acostumbradas de Microsoft.
            Es entonces donde ingreso a un negocio que en ese entonces estaba en crecimiento. Juflo Tecnología Informática, a lo que se dedicaba era dar soporte de
            circuitos de seguridad en áreas de hotelería, restaurantes, incluso casas. Como todo estaba iniciando se necesitaba un sistema que llevara control de
            todos los productos que ahí se tenían, clientes, trabajos realizados, etc, era algo grande. Aquí con la experiencia ya obtenida hasta entonces,
            comienzo a proponer soluciones. Y opto por el uso de un lenguaje no tipeado como Javascript de lado del servidor (NodeJS) y es donde poco a poco comienzo
            a darme cuenta que mi fuerte era hacer desarrollo backend.
          </p>
        </article>
        <article class="box-2">
          <p>
            Mi última participación en un proyecto de desarrollo en Acapulco fue para el Hospital Veterinario de Espcialidades de Guerrero. Debido al crecimiento que se
            tuvo en clientes necesitaban un software que llevará la administración de los usuarios, sus mascotas, medicamentos, etc. En esta parte es donde trato de mejorar
            un poco más como desarrollador del lado del servidor y trato de evitar la construcción de aplicaciones monolíticas. Y es donde por fin comienzo a implementar
            las tan útiles API's REST. Construyendo todo el backend en NodeJS y la aplicación de escritorio y web con NET Core.
          </p>
        </article>
        <article class="box">
          <p>
            Gracias a que me fue muy bien en el último proyecto, gano mucha seguridad en lo que podía hacer y decido buscar una oportunidad en alguna ciudad grande donde
            pueda ganar más experiencia. Es así como decido venir a Ciudad de México y consigo un empleo como Desarrollador Backend NodeJS en gigigo. Llevo alrededor de 10
            meses laborando para esta empresa y he logrado aprender bastante bajo el liderazgo de personas muy capacitadas y responsables. Inicié como desarollador de
            asistentes de voz para Google Assistant y Amazon Alexa, me fue bien y me movieron al equipo de backend donde tengo más responsabilidades.
          </p>
        </article>
        <article class="box-2">
          <p>Para no hacer esto más largo, dejo una lista de las tecnologías que he utilizado y con las que me siento cómodo trabajando.</p>
          <ul>
            <li><i class="fas fa-hand-point-right"></i> C#</li>
            <li><i class="fas fa-hand-point-right"></i> ASP.NET Core</li>
            <li><i class="fas fa-hand-point-right"></i> SQL Server</li>
            <li><i class="fas fa-hand-point-right"></i> Sqlite</li>
            <li><i class="fas fa-hand-point-right"></i> NodeJS</li>
            <li><i class="fas fa-hand-point-right"></i> Typescript</li>
            <li><i class="fas fa-hand-point-right"></i> Loopback</li>
            <li><i class="fas fa-hand-point-right"></i> MongoDB</li>
            <li><i class="fas fa-hand-point-right"></i> Git</li>
            <li><i class="fas fa-hand-point-right"></i> pm2</li>
            <li><i class="fas fa-hand-point-right"></i> Dialogflow</li>
            <li><i class="fas fa-hand-point-right"></i> Amazon Alexa</li>
          </ul>
          <p>No dudes en contactarme para cualquier duda que tengas. Puedes ver mis datos en la página de incio. ¡Saludos!</p>
        </article>
    </div>
    {{>footer}}
</body>

</html>
