<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/yautja.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>nav}}
        <article class="box">
          <div class="inline">
            <div class="column">
              <img src="/img/profile.jpg" alt="profile" class="round">
            </div>
            <p>
              Hello everyone! My full name is Juan Carlos Herrera Cervantes. I am a Computer Systems Engineer with a specialty
              in Information Technology. I am a graduate of Tecnológico Nacional de México. I am dedicated to
              the development of software on the server side (backend). I am currently working for Econocom Gigigo supporting
              projects for clients such as Gulf, Cartoon Network, Televisa, Aleatica, etc.
            </p>
          </div>
        </article>
        <article class="box-2">
          <p>
            I will tell you a little about my experience. Almost at the end of my degree (semester 10) I had to do professional
            residencies, previously when I studied my baccalaureate I had the fortune of meeting a service engineer who worked
            for Grupo Salinas, so I decided to do them there at the invitation of this person. With this I got my first work
            experience, I started helping in support activities, I mean installation of computer equipment, attention to incidents
            that had to do with the ADN system that was handled in the branches of Elektra and Banco Azteca. After a year of having
            been there, I was able to realize some deficiencies in tools for tasks that engineers carried out in their day to day.
            This is how I started to do my bit by developing desktop and web applications to try to make their work times more streamlined.
          </p>
          <p>
            Among the technologies that I was able to work there were all from Microsoft. The desktop applications were developed with
            WPF and Winforms using the Smart User Interface pattern, which basically was to add all the programming logic on buttons that
            triggered events. The web applications were built with ASP.NET, depending on the complexity used Web Forms or MVC. Since I
            was very young, I had no experience with design patterns or good programming practices. However, I was able to take a good
            work experience with me.
          </p>
        </article>
        <article class="box">
          <p>
            Once my experience at Grupo Salinas is over, I decide to get to know different technologies from those already used by
            Microsoft. It is then that I enter a business that was growing at that time. Juflo Tecnología Informática, what it was
            dedicated to was supporting security circuits in hotel areas, restaurants, even homes. As everything was starting,
            a system was needed that would keep control of all the products that were had there, clients, work carried out, etc.,
            it was something great. Here with the experience already obtained until then, I begin to propose solutions. And I
            opt for the use of a non-typed language such as server-side Javascript (NodeJS) and that's where little by little
            I begin to realize that my strength was doing backend development.
          </p>
        </article>
        <article class="box-2">
          <p>
            My last participation in a development project in Acapulco was for Hospital Veterinario de Especialidades de Guerrero. Due
            to the growth in clients, they needed software that will manage the administration of users, their pets, medicines,
            etc. This part is where I try to improve a bit more as a server-side developer and try to avoid building monolithic
            applications. And it is where I finally start to implement the very useful REST APIs. Building the entire backend
            in NodeJS and the desktop and web application with NET Core.
          </p>
        </article>
        <article class="box">
          <p>
            Thanks to the fact that the last project went very well, I gain a lot of confidence in what I could do and decide
            to look for an opportunity in a big city where I can gain more experience. This is how I decide to come to Mexico
            City and get a job as a NodeJS Backend Developer at Econocom Gigigo. I have been working for this company for about
            2 years and I have managed to learn a lot under the leadership of highly trained and responsible people. I started
            as a voice assistant developer for Google Assistant and Amazon Alexa, it went well and I was moved to the backend
            team where I have more responsibilities.
          </p>
        </article>
        <article class="box-2">
          <p>In order not to make this longer, I leave a list of the technologies that I have used and with which I feel comfortable working.</p>
          <ul>
            <li><i class="fas fa-hand-point-right"></i> ASP.NET Core</li>
            <li><i class="fas fa-hand-point-right"></i> SQL Server</li>
            <li><i class="fas fa-hand-point-right"></i> Sqlite</li>
            <li><i class="fas fa-hand-point-right"></i> NodeJS</li>
            <li><i class="fas fa-hand-point-right"></i> Typescript</li>
            <li><i class="fas fa-hand-point-right"></i> NestJS</li>
            <li><i class="fas fa-hand-point-right"></i> Loopback</li>
            <li><i class="fas fa-hand-point-right"></i> MongoDB</li>
            <li><i class="fas fa-hand-point-right"></i> Git</li>
            <li><i class="fas fa-hand-point-right"></i> pm2</li>
            <li><i class="fas fa-hand-point-right"></i> Dialogflow</li>
            <li><i class="fas fa-hand-point-right"></i> Actions Builder</li>
            <li><i class="fas fa-hand-point-right"></i> Amazon Alexa</li>
          </ul>
          <p>Do not hesitate to contact me for any questions you have. You can see my data on the home page. Greetings!</p>
        </article>
    </div>
    {{>footer}}
</body>

</html>
